body {
  background: #0a0a0a;
  margin: 0px;
}

* {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
}

main {
  height: auto;
}
main h2 {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #E50000;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  align-items: center;
}
main h2 img {
  flex: 1;
  height: 1px;
}
main h2 .sort {
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
}
main h2 .sort p {
  font-size: 15px;
}
main h2 .sort input {
  padding: 10px 15px;
  background: transparent;
  background-image: url("/input.png");
  border: none;
  outline: none;
  color: #E50000;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main .search {
  color: white;
  padding: 20px 30px;
}
main .search .movies {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
main .search .movies li {
  flex: 1;
  min-width: 290px;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
main .search .movies li .filter {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
}
main .search .movies li .filter img {
  width: 2px;
  position: absolute;
  transform: translate(-50%);
}
main .search .movies li .filter:before, main .search .movies li .filter:after {
  content: " ";
  height: 102%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main .search .movies li .filter.a:before {
  width: 10px;
  left: -3px;
  background-image: url("/lineSideC.png");
  background-size: contain;
}
main .search .movies li .filter.a:after {
  width: 10px;
  right: -3px;
  background-image: url("/lineSide.png");
  background-size: contain;
}
main .search .movies li .filter.b:before {
  width: 10px;
  left: -3px;
  background-image: url("/lineSideB.png");
  background-size: contain;
}
main .search .movies li .filter.b:after {
  width: 10px;
  right: -3px;
  background-image: url("/lineSideC.png");
  background-size: contain;
}
main .search .movies li .filter.c:before {
  width: 10px;
  left: -3px;
  background-image: url("/lineSideB.png");
  background-size: contain;
}
main .search .movies li .filter.c:after {
  width: 10px;
  right: -3px;
  background-image: url("/lineSideC.png");
  background-size: contain;
}
main .search .movies li .filter.d:before {
  width: 10px;
  left: -3px;
  background-image: url("/lineSide.png");
  background-size: contain;
}
main .search .movies li .filter.d:after {
  width: 10px;
  right: -3px;
  background-image: url("/lineSideC.png");
  background-size: contain;
}
main .search .movies li .filter.e {
  background: purple;
}
main .search .movies li:hover {
  cursor: pointer;
}
main .search .movies li:hover .filter {
  opacity: 0;
  transition: opacity 0.5s;
}
main .search .movies li:hover .image .cont:before {
  opacity: 0;
  transition: opacity 0.5s;
}
main .search .movies li .image {
  flex: 0 0 75%;
  position: relative;
  padding: 10px;
}
main .search .movies li .image .cont {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
main .search .movies li .image .cont:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #E50000;
  mix-blend-mode: multiply;
  opacity: 1;
  transition: opacity 0.5s;
}
main .search .movies li .image .cont img {
  height: 440px;
  margin: 0px;
  border: none;
  display: block;
}
main .search .movies li .text {
  flex: 1;
  position: relative;
  color: #b3b3b3;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}
main .search .movies li .text h4 {
  font-size: 22px;
}
main .search .movies li .text h5 {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
main .search .movies li .text h3 {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
main .home {
  text-align: center;
  position: relative;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0px;
}
main .home .bottom {
  width: 95%;
  height: 110px;
  margin: 20px auto 150px;
  border: 3px solid transparent;
  -o-border-image: url("Line1.png") 30 round;
     border-image: url("Line1.png") 30 round;
  position: relative;
}
main .home .bottom:before, main .home .bottom:after {
  content: " ";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0px;
  background-image: url("/Line3.png");
}
main .home .bottom:before {
  left: -5px;
}
main .home .bottom:after {
  right: -3px;
}
main .home .menuTab {
  width: 95%;
  height: 120px;
  border: 3px solid transparent;
  -o-border-image: url("Line1.png") 30 round;
     border-image: url("Line1.png") 30 round;
  position: relative;
  margin: 20px auto;
}
main .home .menuTab:before, main .home .menuTab:after {
  content: " ";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0px;
  background-image: url("/Line3.png");
}
main .home .menuTab:before {
  left: -5px;
}
main .home .menuTab:after {
  right: -3px;
}
main .home .menuTab {
  display: flex;
  color: #E50000;
  font-size: 25px;
}
main .home .menuTab li {
  flex: 1;
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 0px;
  display: flex;
}
main .home .menuTab li .ico {
  flex: 1;
  max-width: 80px;
  position: relative;
}
main .home .menuTab li .ico img {
  max-width: 80px;
  mix-blend-mode: color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .home .menuTab li .txt {
  flex: 1;
  text-align: left;
  padding-left: 15px;
  color: #b3b3b3;
}
main .home .menuTab li .txt p {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
main .home .menuTab li:before {
  content: " ";
  width: 5px;
  height: 50%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0.5;
  background-image: url("/Line3.png");
}
main .home .menuTab li:last-child:before {
  display: none;
}
main .home .middle {
  width: 700px;
  margin: auto;
}
main .home .middle img {
  width: 75%;
  position: relative;
  margin: 0px -50px -20px;
}
main .home .middle h3 {
  color: #b3b3b3;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
main .home .middle button {
  padding: 10px 100px;
  border: 3px solid transparent;
  -o-border-image: url("Line1.png") 30 round;
     border-image: url("Line1.png") 30 round;
}
main .home .middle button:before, main .home .middle button:after {
  content: " ";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0px;
  background-image: url("/Line3.png");
}
main .home .middle button:before {
  left: -5px;
}
main .home .middle button:after {
  right: -3px;
}
main .home .middle button {
  color: #E50000;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */