
$red: #E50000;
$white: #b3b3b3;
$black: #0a0a0a;

@mixin fontA() {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
}
@mixin fontB($a) {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size:$a;
}

body {
    background:$black;
    margin:0px;
}
* {
    text-decoration:none;
    padding:0px;
    margin:0px;
    list-style-type:none;
}
button {
    background:transparent;
    border:none;
}

@mixin redBorder() {
    &:before, &:after {
        content:' ';
        width:5px;
        height:100%;
        position:absolute;
        top:0px;
        background-image:url('/Line3.png');
        // mix-blend-mode:color;
    }
    &:before {left:-5px;}
    &:after {right:-3px;}
}

main {
    height:auto;
    h2 {
        @include fontB(30px);
        color:$red;
        display:flex;
        gap:10px;
        margin-bottom:30px;
        align-items:center;
        white-space: nowrap;
        img {
            flex:1;
            height:1px;
        }
        .sort {
            display:flex;
            gap:10px;
            position:relative;
            align-items:center;
            p {
                font-size:15px;
            }
            input {
                padding:10px 15px;
                background:transparent;
                background-image:url('/input.png');
                border:none;
                outline:none;
                color:$red;
                @include fontB(13px);
                background-size:100% 100%;
                background-repeat:no-repeat;

            }
        }
    }
    .search {
        color:white;
        padding:20px;
        display:flex;
        gap:20px;
        h2 {
            flex:0 0 100%;
        }
        .categoryChoice {
            flex: 1;
            max-width:350px;
            max-height:400px;
            height:auto;
            padding:30px 15px 0px;
            background:transparent;
            border: 5px solid transparent;
            border-image-source: url("/boxBig.png");
            border-image-slice: 10;
            border-image-repeat: stretch;
            position:relative;
            top:10px;
            li {
                @include fontA();
                font-size:20px;
                color:$white;
                position:relative;
                display:flex;
                align-items:center;
                padding:9px 0px 9px 55px;
                margin-bottom:10px;
                img {
                    width:30px;
                    position:absolute;
                    top:50%;
                    left:15px;
                    transform:translate(0%,-50%);
                    mix-blend-mode:normal;
                }
                &:hover {
                    cursor:pointer;
                    background-image:url('/bt_Brush.png');
                    background-size:contain;
                    background-repeat:no-repeat;
                    background-position:left center;
                    color:$black;
                    img {
                        mix-blend-mode:difference;
                    }
                }
            }
        }
        .movies {
            flex: 1;
            padding-top:20px;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            gap:10px;
            li {
                flex:1;
                min-width:350px;
                height:600px;
                overflow:hidden;
                display:flex;
                flex-direction:column;
                justify-content:center;
                position:relative;
                .filter {
                    position:absolute;
                    top:0px;
                    left:0px;
                    width:100%;
                    height:100%;
                    z-index:5;
                    overflow:hidden;
                    opacity:1;
                    transition: opacity .5s;
                    img {
                        width:2px;
                        position:absolute;
                        transform:translate(-50%);
                    }
                    &:before, &:after {
                        content:' ';
                        height:102%;
                        position:absolute;
                        top:50%;
                        transform:translateY(-50%); 
                    }
                    &.a {
                        &:before {
                            width:10px;
                            left:-3px;
                            background-image:url('/lineSideC.png');
                            background-size:contain;
                        }
                        &:after {
                            width:10px;
                            right:-3px;
                            background-image:url('/lineSide.png');
                            background-size:contain;
                        }
                    }
                    &.b {
                        &:before {
                            width:10px;
                            left:-3px;
                            background-image:url('/lineSideB.png');
                            background-size:contain;
                        }
                        &:after {
                            width:10px;
                            right:-3px;
                            background-image:url('/lineSideC.png');
                            background-size:contain;
                        }
                    }
                    &.c {
                        &:before {
                            width:10px;
                            left:-3px;
                            background-image:url('/lineSideB.png');
                            background-size:contain;
                        }
                        &:after {
                            width:10px;
                            right:-3px;
                            background-image:url('/lineSideC.png');
                            background-size:contain;
                        }
                    }
                    &.d {
                        &:before {
                            width:10px;
                            left:-3px;
                            background-image:url('/lineSide.png');
                            background-size:contain;
                        }
                        &:after {
                            width:10px;
                            right:-3px;
                            background-image:url('/lineSideC.png');
                            background-size:contain;
                        }
                    }
                    &.e {
                        background:purple;
                    }
                }
                &:hover {
                    cursor:pointer;
                    .filter {
                        opacity:0;
                        transition: opacity .5s;
                    }
                    .image {
                        
                        .cont {
                            
                            &:before {
                                opacity:0;
                                transition: opacity .5s;
                            }
                        }
                    }
                }
                .image {
                    flex:0 0 75%;
                    position:relative;
                    padding:10px;
                    .cont {
                        position:absolute;
                        top:0px;
                        left:50%;
                        transform:translateX(-50%);
                        overflow:hidden;
                        &:before {
                            content:' ';
                            width:100%;
                            height:100%;
                            position:absolute;
                            top:0px;
                            left:0px;
                            background:$red;
                            mix-blend-mode:multiply;
                            opacity:1;
                            transition: opacity .5s;
                        }
                        img {
                            height:440px;
                            margin:0px;
                            border:none;
                            display: block
                        }
                    }
                }
                .text {
                    flex:1;
                    position:relative;
                    color:$white;
                    @include fontA();
                    text-align:center;
                    h4 {
                        font-size:22px;
                    }
                    h5 {
                        @include fontB(25px);
                    }
                    h3 {
                        @include fontB(15px);
                    }
                }
            }
        }
    }
    .home {
        text-align:center;
        position:relative;
        @include fontB(0px);
        .bottom {
            width:95%;
            height:110px;
            margin:20px auto 150px;
            border: 3px solid transparent;
            border-image: url('Line1.png') 30 round;
            position:relative;
            @include redBorder();
        }
        .menuTab {
            width:95%;
            height:120px;
            border: 3px solid transparent;
            border-image: url('Line1.png') 30 round;
            position:relative;
            margin:20px auto;
            @include redBorder();
            display:flex;
            color:$red;
            font-size:25px;
            li {
                flex:1;
                position:relative;
                @include fontA();
                padding:0px;
                display:flex;
                .ico {
                    flex:1;
                    max-width:80px;
                    position:relative;
                    img {
                        max-width:80px;
                        mix-blend-mode:color;
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%,-50%);
                    }
                }
                .txt {
                    flex:1;
                    text-align:left;
                    padding-left:15px;
                    color: $white;
                    p {
                        @include fontB(18px);
                    }
                }
                &:before {
                    content:' ';
                    width:5px;
                    height:50%;
                    position:absolute;
                    top:50%;
                    right:0px;
                    transform:translateY(-50%);
                    opacity:.5;
                    background-image:url('/Line3.png');
                }
                &:last-child {
                    &:before {
                        display:none;
                    }
                }
            }
        }
        .middle {
            width:700px;
            margin:auto;
            img {
                width:75%;
                position:relative;
                margin:0px -50px -20px;
            }
            h3 {
                color:$white;
                @include fontB(25px);
            }
            button {
                padding:10px 100px;
                border: 3px solid transparent;
                border-image: url('Line1.png') 30 round;
                @include redBorder();
                color:$red;
                @include fontB(25px);

                margin-top:20px;
                position:relative;
                cursor:pointer;
                
            }
        }
    }
}